/* Font e dimensioni globali */
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;   
  line-height: 1.6;  
}

/* Titoli leggermente più grandi */
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
